.form-pago {
  width: 50%;
  background: var(--primary-color-light);
  padding: 30px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 5px;
  font-family: "calibri";
  color: var(--black-color);
  box-shadow: 7px 13px 37px var(--black-color);
}

.form-pago h1 {
  font-size: 22px;
  margin-top: 5px;
}

.form-pago .botons {
  display: inline-block;
  width: 50%;
  padding: 12px;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  margin: 8px 0;
  border: none;
  color: var(--black-color);
  border-radius: 10px;
  box-shadow: 1px 2px #6ea8c9;
  cursor: pointer;
  letter-spacing: 3px;
  text-decoration: none;
}

.form-pago .botons:hover {
  background: var(--primary-color);
  color: var(--black-color);
  scale: 1.1;
}
