.pie-pagina {
  width: 100%;
  background-color: var(--primary-color);
  margin-top: 10px;
}
.grupo-1 {
  display: flex;
  justify-content: space-around;
}

.box {
  flex: 2;
}
.box-redes {
  flex: 1;
  color: #fff;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box figure img {
  width: auto;
}
.pie-pagina .grupo-1 .box {
  color: #fff;
  margin-bottom: 25px;
  font-size: 14px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #195C86;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #195C86;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

footer h2 {
    font-size: 18px;
}