
.container-footer{
  width: 100%;  
  background:#2b78a2;
}
.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  padding: 20px;
}

.copyright{
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
}
.container-footer-all{
    width: 100%;
    /* max-width: 1200px; */
    /* margin:5px; */
    /* padding: 40px; */
  
  

}

.container-body{
  display: flex;
  justify-content: space-between;
  background: #9ecbe4;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items:start;
  
}
.box-redes{
  margin-right: 10%;
  max-width: 400px;
};
.red-social{
  margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.red-social img{
    width: 50px;
    height: auto;
    margin: 10px;
  };
  .box{
    max-width: 400px; 
  }
 .box img{
  padding: 60px;
 }