<div class="div-especialidad">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../../../../assets/img-especialidad.jpg"
      alt="imagen-especialidad"
    />
    <div class="card-body">
      <h5 class="card-title">Pediatría</h5>

      <p class="card-p-nombre-dr">Dr. Federico Gutierrez</p>

      <p class="card-descripcion">
        Dedicado a la salud infantil con atención integral y especializada para
        niños y adolescentes.
      </p>

      <div class="buttons">
        <a href="#" class="btn btn-reservar-turno">Reservar turno</a>
        <div class="div-link">
          <a routerLink="/detalle-servicio" class="link-ver-mas">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
