<main class="form-background">
  <section class="form-registro">
    <form [formGroup]="registroForm">
      <!-- ID Medico -->
      <input
        class="control"
        readonly
        type="text"
        name="id"
        placeholder="Ingrese id de medico"
        formControlName="id"
      />
      <div *ngIf="id.invalid && (id.dirty || id.touched)" class="text-danger">
        <small *ngIf="id.errors?.['required']"> El id es requerida. </small>
      </div>
      <!-- matricula -->
      <input
        class="control"
        type="text"
        name="matricula"
        placeholder="Ingrese matricula de medico"
        formControlName="matricula"
      />
      <div
        *ngIf="matricula.invalid && (matricula.dirty || matricula.touched)"
        class="text-danger"
      >
        <small *ngIf="matricula.errors?.['required']">
          La matricula es requerida.
        </small>
        <small *ngIf="matricula.errors?.['maxlength']">
          La matricula no debe tener mas de 11 digitos.
        </small>
      </div>
      <!-- nombre -->
      <input
        class="control"
        type="text"
        name="nombre"
        placeholder="Ingrese nombre de medico"
        formControlName="nombre"
      />
      <div
        *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
        class="text-danger"
      >
        <small *ngIf="nombre.errors?.['required']">
          El nombre es requerido.
        </small>
      </div>
      <!-- apellido -->
      <input
        class="control"
        type="text"
        name="apellido"
        placeholder="Ingrese apellido de medico"
        formControlName="apellido"
      />
      <div
        *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
        class="text-danger"
      >
        <small *ngIf="apellido.errors?.['required']">
          El apellido es requerido.
        </small>
      </div>
      <!-- email -->
      <input
        class="control"
        type="email"
        name="email"
        placeholder="Ingrese email de medico"
        formControlName="email"
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="text-danger"
      >
        <small *ngIf="email.errors?.['required']">
          El email es requerido.
        </small>
        <small *ngIf="email.errors?.['email']">
          El email debe tener formato mail&#64;firma.com.
        </small>
      </div>
      <!-- clave -->
      <input
        class="control"
        type="text"
        name="clave"
        placeholder="Ingrese clave de medico"
        formControlName="clave"
      />
      <div
        *ngIf="clave.invalid && (clave.dirty || clave.touched)"
        class="text-danger"
      >
        <small *ngIf="clave.errors?.['required']">
          La clave es requerido.
        </small>
      </div>
      <!-- telefono -->
      <input
        class="control"
        type="text"
        name="telefono"
        placeholder="Ingrese telefono de medico"
        formControlName="telefono"
      />
      <div
        *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
        class="text-danger"
      >
        <small *ngIf="telefono.errors?.['required']">
          El telefono es requerido.
        </small>
        <small *ngIf="telefono.errors?.['maxlength']">
          El telefono no debe tener mas de 15 digitos.
        </small>
      </div>
      <!-- foto -->
      <input
        class="control"
        type="file"
        name="foto"
        placeholder="Ingrese foto de medico"
        formControlName="foto"
        (change)="onFileSelected($event)"
      />
      <div class="conteiner-figure" *ngIf="previsualizacion">
        <figure>
          <img
            class="img"
            [src]="previsualizacion"
            alt="imagen de medico a cambiar"
            title="Figura, Medico"
          />
          <figcaption>Fig - Figura seleccionada</figcaption>
        </figure>
      </div>
      <div
        *ngIf="foto.invalid && (foto.dirty || foto.touched)"
        class="text-danger"
      >
        <small *ngIf="foto.errors?.['required']"> La foto es requerida. </small>
      </div>
      <!-- is_active -->
      <!-- <input
            class="control"
            type="radio"
            name="is_active"
            placeholder="Ingrese is_active de paciente"
            formControlName="is_active"
          />
          <div
            *ngIf="is_active.invalid && (is_active.dirty || is_active.touched)"
            class="text-danger"
          >
            <small *ngIf="is_active.errors?.['required']">
              El is_active es requerido.
            </small>
          </div> -->
      <!-- id_especialidad -->
      <select
        class="control"
        name="id_especialidad"
        formControlName="id_especialidad"
      >
        <option
          *ngFor="let especialidad of this.especialidadLista"
          [ngValue]="especialidad.id"
        >
          {{ especialidad.id + " - " + especialidad.nombre }}
          <figure>
            <img src="{{ especialidad.foto }}" alt="Icono de especialidad" />
          </figure>
        </option>
      </select>
      <div
        *ngIf="
          id_especialidad.invalid &&
          (id_especialidad.dirty || id_especialidad.touched)
        "
        class="text-danger"
      >
        <small *ngIf="id_especialidad.errors?.['required']">
          La especialidad es requerida.
        </small>
      </div>
      <!-- id_horario -->
      <select class="control" name="id_horario" formControlName="id_horario">
        <option
          *ngFor="let horario of horarioAtencionLista"
          [ngValue]="horario.id"
        >
          {{ horario.id }} - {{ horario.dia_de_la_semana }} -
          {{ horario.hora_entrada }} - {{ horario.hora_salida }}
        </option>
      </select>
      <div
        *ngIf="id_horario.invalid && (id_horario.dirty || id_horario.touched)"
        class="text-danger"
      >
        <small *ngIf="id_horario.errors?.['required']">
          El horario entrada es requerido.
        </small>
      </div>
      <!-- medicoUser -->
      <select class="control" name="medicoUser" formControlName="medicoUser">
        <option *ngFor="let usuario of usuarioLista" [ngValue]="usuario.id">
          {{ usuario.id + " - " + usuario.username }}
        </option>
      </select>
      <div
        *ngIf="medicoUser.invalid && (medicoUser.dirty || medicoUser.touched)"
        class="text-danger"
      >
        <small *ngIf="medicoUser.errors?.['required']">
          El medicoUser es requerido.
        </small>
      </div>
      <!-- submit -->
      <input
        type="submit"
        class="boton"
        value="Registrar"
        (click)="editarMedico()"
      />
    </form>
  </section>
</main>
