<div class="container mb-5 mt-2 ">
    <div class="row">
        <div class="col-lg-12" *ngFor="let turno of turnosList">
            <div class="mb-5 mb-lg-0">
              <div class="card-body">
                <h3 class="text-uppercase text-center">
                    <span> id Turno - </span>{{turno.id}}
                </h3>
                <hr />
                <h5 class="text-center">
                    <span> Fecha - </span>{{turno.fecha|date:'dd/MM/yyy'}}
                  </h5>
                <hr />
                <h5 class="text-center">
                    <span> Hora - </span>{{turno.horario}}
                </h5>
                <hr />
                <h5 class="text-center">
                    <span> Pagado - </span>{{turno.pagado}}
                </h5>
                <hr />
                <h5 class="text-center">
                    {{turno.estado}}<span> - Estado</span>
                </h5>
                <hr />
                <h5 class="text-center">
                    {{turno.id_medico}}<span> - id Medico</span>
                </h5>
                <hr />
                <h5 class="text-center">
                    {{turno.id_paciente}}<span> - id Paciente</span>
                </h5>
                <hr />
                <div *ngIf=true class="d-grid">
                  <div class="row justify-content-center">
                  <div class="col-sm-12 mt-2">
                    <button type="btn" class="botons text-uppercase" (click)="irTurno(turno.id)">Ver</button>
                  </div>
                  <div class="col-sm-12 mt-2">
                    <button type="btn" class="botons text-uppercase" *ngIf="rol == 'paciente' || rol == 'admin'" [hidden]="!(rol == 'paciente' || rol == 'admin')">Editar</button>
                  </div>
                  <div class="col-sm-12 mt-2">
                    <button type="btn" class="botons text-uppercase" *ngIf="rol == 'paciente' || rol == 'admin'" [hidden]="!(rol == 'paciente' || rol == 'admin')">Agregar</button>
                  </div>
                  <div class="col-sm-12 mt-2">
                    <button type="btn" class="botons text-uppercase" *ngIf="rol == 'paciente' || rol == 'admin'" [style.visibility]="(rol == 'paciente' || rol == 'admin')?'visible':'hidden'">Eliminar</button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
