<div class="div-especialidad">
  <div class="card-especialidad" *ngFor="let e of especialidadLista">
    <div>
      <img
        class="card-img-top"
        src="{{e.foto}}"
        alt="imagen-especialidad"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{e.nombre}}</h5>
      <hr>

      <p class="card-p-nombre-dr" *ngFor="let p of profesionalLista">Dr. {{p.apellido}} {{p.nombre}} </p>

      <p class="card-descripcion">
        {{e.descripcion}}
      </p>

      <div class="div-horarios-contacto" *ngFor="let p of profesionalXEspecialidad">
        <p class="horarios">
          Días y horarios de atención
        </p>
        <span>
            <ul *ngFor="let h of profesionalXHorario">
              <li><img src="../../../../assets/flecha.png" alt=""> {{h.dia_de_la_semana}} - {{h.hora_entrada}} a {{h.hora_salida}} </li>
            </ul>
          </span>
        <p class="contacto">Teléfono: <span>{{p.telefono}}</span></p>
      </div>

      <div class="buttons">
        <a class="btn btn-reservar-turno" (click)="redirectToPay()">Reservar turno</a>
      </div>
    </div>
  </div>
</div>

